{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>For one, for all.</h1>
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
            </div>

        </div>
    </div>
{% endblock cta %}

{% block content %}

<!-- Services Section-->1`1
<section id="services">
  <div class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <h2 class="overview" style=" color: white;">Heal. Care. Naurish</h2 >
      </div>
    </div>
    <div class="container-fluid" style="padding: 10px;">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Primary Care</h5>
                <div class="card-text text-black-50">Your personalized medical professionals.</div>
              </div>
        </div>
        <div class="col">
          <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Dermatology</h5>
            <div class="card-text text-black-50">Your skin care made easy.</div>
          </div>
        </div>
        <div class="col">
          <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Team Member</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
        </div>
        <div class="col">
          <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">PrEP Therapy</h5>
            <div class="card-text text-black-50">Stay safe if you are at high exposure of HIV.</div>
          </div>
        </div>    
      </div>
    </div>
 
</section>

<!--Constact Us Section -->
<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> (123) 456-7890<br>
              E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>Our Location</h4>
  
              <address>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
            </address>
            </div>
          </div><!-- end col -->
        </div>
        <!-- end row -->
  
  
        <div class="row">

          <!-- Contact form -->
          <div class="col-sm">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}